.productsHeader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 70px;
    background-color: #e9e0e0e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .leftContent{
        padding: 15px;
    }
    .rightContent{
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 2vw;
        width: 15vw;

    }
}
.cards{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.cardStyling{
    width: 20vw;
    margin-left: 4vw;
    margin-bottom: 2vw;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .demo-section + .demo-section {
    margin-top: 16px;
  }