<div style="margin-top: 70px;"></div>


<div class="cards">
    <div *ngFor="let item of cartProducts" class="cardStyling">
        <mat-card class="example-card">
            <!-- <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header> -->
            <img height="400px" mat-card-image src={{item.image}} alt="Photo of a Shiba Inu">

            
            <mat-card-content>
                <p style="margin-top: 10px; color: rgb(84, 84, 76);">{{item.title | slice : 0: 20}}...</p>
              <p>
                {{item.description | slice: 0: 20 }}...
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click) ="buyProduct(item.id)"> Buy Product</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>

<div class="productsHeader">
    <div class="leftContent">
        <h6 style="cursor: pointer" (click)="navigateToProducts()">Products</h6>
    </div>

    <div class="rightContent">
        <button mat-raised-button color="primary"
        [matBadge]="numberOfCartItems" matBadgePosition="after" matBadgeColor="accent">
        <mat-icon matBadgeColor="warn">add_shopping_cart</mat-icon>
    </button>
        <button mat-raised-button color="accent" (click)="logout()">Log Out</button>
    </div>
</div>
